@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');:root {
    --primary-color:  #094074;
    --secondary-color: #F7EF81;
    --accent1-color: #E88873;
    --accent2-color: #F8F8F8;
  
    --heading-font: 'Roboto', serif;
    --paragraph-font: 'Roboto', serif;
  
    --nav-background-color: #F8F8F8;
    --nav-link-color: #094074;
    --nav-hover-link-color: #3C8DDF;
    --nav-hover-background-color: #F8F8F8;
  }

/* General Styling */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004080;
    padding: 10px 20px;
}

header img {
    height: 50px;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navigation li {
    margin-left: 20px;
}

.navigation a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Hero Section Styling */
.hero {
    text-align: center;
    position: relative;
    color: white;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.hero h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    text-shadow: 2px 2px 5px #000;
}

.hero article {
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
}

.hero article img {
    margin-right: 20px;
    border-radius: 50%;
    width: 200px;
    float: right;
}

/* Sections Styling */
section {
    padding: 20px;
}

section h2 {
    color: #004080;
}

section img {
    width: 200px;
    height: auto;
    margin: 10px;
    border: 2px solid #004080;
    border-radius: 10px;
}

/* Footer Styling */
footer {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 10px 20px;
}

.sociallinks a {
    margin: 0 10px;
    display: inline-block;
}

.sociallinks img {
    height: 30px;
    width: auto;
}
