@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');:root {
    --primary-color:  #094074;
    --secondary-color: #F7EF81;
    --accent1-color: #E88873;
    --accent2-color: #F8F8F8;
  
    --heading-font: 'Roboto', serif;
    --paragraph-font: 'Roboto', serif;
  
    --nav-background-color: #F8F8F8;
    --nav-link-color: #094074;
    --nav-hover-link-color: #3C8DDF;
    --nav-hover-background-color: #F8F8F8;
  }

/* General Styling */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Styling */
header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: var(--primary-color);
    padding: 10px 20px;
}

header img {
    height: 50px;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.navigation li {
    margin-left: 20px;
}

.navigation a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
}

.section-container {
    padding: 5rem 1rem;
    max-width: 840px;
    margin: auto;
    justify-content: flex-start;
}

.section-title {
    font-size: 2rem;
    font-weight: 500;
    color: var(--primary-color);
    margin-bottom: 1rem;
    text-align: center;
}

.section-subtitle {
    font-size: 1rem;
    font-style: italic;
    color: var(--primary-color);
    margin-bottom: 5rem;
    text-align: center;
}

/* Hero Section Styling */
.hero {
    text-align: center;
    position: relative;
    color: white;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.hero h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    text-shadow: 2px 2px 5px #000;
}

.hero article {
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
}

.hero article img {
    margin-right: 20px;
    border-radius: 50%;
    width: 200px;
    float: right;
}

.flexbox-container {
    display: flex;
}

.flexbox-item {
    width: 200px;
    margin: 10px;
    border: 3px solid #333;
    background-color: #dfdfdf;
}

.flexbox-item-1 {
    min-height: 100px;
    flex-grow: 2;
    border-color: black;
}

.flexbox-item-1 p {
    padding: 10px;
}

.flexbox-item-2 {
    max-height: 280px;
    background-color: steelblue;
    border-color: black;
    
}

.flexbox-item-2 h3 {
    text-align: center;
}

.flexbox-item-2 p {
    padding: 10px;
}

.flexbox-item-3 {
    max-height: 300px;
    flex-grow: 2;
    border-color: black;
}

.flexbox-item-3 p {
    padding: 10px;
}

figure {
    margin: 10px;
    text-align: center;
}

figure img {
    width: 200px;
    height: auto;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
}

figcaption {
    margin-top: 5px;
    font-style: italic;
    color: var(--primary-color);
}

.grid-container {
    max-width: 840px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    padding: 8px;
}

.grid-items {
    background-color: #dcebf8;
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.grid {
    display: grid;
    align-items: center;
    max-width: 840px;
    margin: 0 auto;
}
.grid-1{
    grid-column: 2;
    margin: 1rem;
}
aside {
    width: 26rem;
    position: relative;
    grid-column: 1;
    grid-row: 1;
}

.grid-1 img, aside img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    box-shadow: 0 0 30px gray;
    float: left;
    margin-right: 10px;
}

h2 {
    color: steelblue;
}

/* Footer Styling */
footer {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 10px 20px;
}

.sociallinks a {
    margin: 0 10px;
    display: inline-block;
}

.sociallinks img {
    height: 30px;
    width: auto;
}