@import url(https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Orbit&family=Roboto&display=swap);

:root {
    --primary-color: #094074;
    --secondary-color: #F7EF81;
    --accent1-color: #E88873;
    --accent2-color: #F8F8F8;
    max-width : 960px;
    padding : 20px;
}

    header { 
        padding: 20px;
        background-color: var(--#E88873);
    }
    p { 
        padding: 25px;
    }
    nav { 
        background-color: var(--#F8F8F8);
        font-size: 1.2rem;
        display: flex;
    }
    nav a {
        display: block;
        color: var(--#094074);
        text-decoration: none;
        padding: 1rem;
}